doctype
html(lang="en").no-js
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(http-equiv="Content-Type",content="text/html;charset=utf-8")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		meta(name="format-detection",content="telephone=no")
		meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		//- script(src="js/viewport.js")
		link(rel="stylesheet",href="css/main.css")

		title 迈腾
		body
			div.main
				form.form(action="/active/join/3",name="register")
					div.input-group
						input(type="text",name="username",placeholder="用户名")
						input(type="hidden",name="uid",value="")
					div.input-group
						input(type="text",name="mobile",placeholder="手机号")
					div.select-group.clearfix
						select#province(name="province")
							option(value="省份") 省份
						select#city(name="city")
							option(value="城市") 城市
					div.input-group
						select()
							option(value="预计购车时间") 预计购车时间
					div.input-group
						select#dealer(name="dealer")
							option(value="经销商") 经销商
					div.btns
						a.btn(name="submit")
							img(src="img/submit.png")



			
			script(src="js/adress.js")
			script(src="/js/getuser.js")
			script(src="js/main.js")