//一级菜单. 选中状态需要增加active.
nav.bar.bar-tab
	div.bar-first
		a(class="tab-item #{men_home}",href="/",data-transition="slide-in")
			span.icon.icon-icon-1-01
			span.tab-label 活动
		a(class="tab-item #{men_reco}",href="/recommend",data-transition="slide-in")
			span.icon.icon-icon-1-03
			span.tab-label 发现
		a(class="tab-item #{men_user}",href="/user/regs",data-transition="slide-in")
			span.icon.icon-icon-1-05
			span.tab-label 我的